* {
  box-sizing: border-box;
}

.shop-icons {margin-left: auto !important;}

:root {
  --primary-color: #662d91; /* Define a variable named --my-color and set its value to a color */
}

body {
  font-family: "Lato", 'DroidArabicKufiRegular';

  font-size: 14px;
}
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Lato",'DroidArabicKufiRegular' !important;
}
html[lang="ar"] body , html[lang="ar"]  h2,
html[lang="ar"]  h3,
html[lang="ar"] h4,
html[lang="ar"]  h5,
html[lang="ar"]  h6,
html[lang="ar"] p {  font-family:'DroidArabicKufiRegular' , "Lato" !important ;}
ul {
  padding-left: 15px;
}

html[lang="ar"] ul {
  padding-left: 0; padding-right: 15px;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}
a:hover , button:hover {transition: all .5s;}
.primary-buttonAV {
  background: var(--primary-color);
  border-radius: 50px;
  color: white;
  padding-inline: 25px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border: 2px solid transparent;
}
.primary-buttonAV i.bi {
  font-size: 12px;
}
.primary-buttonAV:hover {
  color: white;
  border: 2px solid #333;
  background-color: #333;
}
.card {
  height: 100%;
}
.container-max-width {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
}
section.top-bar {
  background: var(--primary-color);
  color: white;
}
.dropdown-toggle::after {
  display: none;
}
.price h4 {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: black;
}
.discountPrice h4 {
  color: #a2a2a2;
}
.rating i.bi {
  color: #c5c5c5;
}
.rating i.bi.rated {
  color: #ffb507;
}
.search-bar {
  border-radius: 100px;
  background: #ddc3f4;
  overflow: hidden;
}
.searchsubmitBtn {
  background: var(--primary-color);
  color: white;
  font-size: 26px;
  padding-inline: 25px;
  border-radius: 0;
  /* border-top-right-radius: 22px; */
}
.categorySelect:focus {
  box-shadow: none !important;
}
.small-title {
  font-weight: 600;
}

button.btn.all-categoryBtn {
  border-radius: 32px;
  background: #ddc3f4;
  padding: 3px 19px;
  font-size: 15px;
  transition: all .5s;
}
button.btn.all-categoryBtn:hover{
  background-color: #472362;
  color: #fff;
}

button.btn.all-categoryBtn:focus {
  border-color: transparent;
}
button.btn.all-categoryBtn i.bi {
  font-size: 25px;
}

nav .menu-av li.nav-item a.nav-link {
  font-size: 18px;
  padding-bottom: 0;
  padding-top: 3px;
  border-bottom: 3px solid transparent;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out,
    border-bottom 0.3s ease-in-out;
  font-weight: 600;
  position: relative;
}
nav .menu-av li.nav-item a.nav-link.active,
nav .menu-av li.nav-item a.nav-link:hover {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  color: #662D91 ;
 /* border-bottom: 3px solid var(--primary-color);
  border-radius: 5px 5px 0px 0px;
  background: #ddc3f4;*/

}

nav .menu-av li.nav-item a.nav-link:before {

  content: '';
  width: 0;
  top:-20px;
  position: absolute;
  background-color: #662D91 ;
  height: 4px;
  opacity: 0;
  transition: all .5s;


}

nav .menu-av li.nav-item a.nav-link.active::before,
nav .menu-av li.nav-item a.nav-link:hover::before {
  opacity: 1;
  width: 85%;

}

nav .menu-av li.nav-item {
  margin-right: 20px;
}

.main-menuTab {
  /* border-radius: 8px; */
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgb(23 26 31 / 9%);
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}

span.quantitynum {
  position: absolute;
  top: -14px;
  right: 0;
  background: var(--primary-color);
  min-width: 22px;
  min-height: 22px;
  text-align: center;
  padding: 0px;
  border-radius: 51px;
  font-size: 14px;
  color: white;
}
html[lang='ar'] span.quantitynum {left:0; right: auto;}
span.cartIcon {
  position: relative;
}

/* slider */

section.heroSlider .carousel-item img,
section.heroSlider .carousel-inner {
   border-radius: 12px; 
}

section.heroSlider .carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50px !important;
  border: inherit;
  background: var(--primary-color);
  border: 2px solid white;
}

section.heroSlider .carousel-control-next,
section.heroSlider .carousel-control-prev {
  opacity: 1 !important;
}
/* section.heroSlider span.carousel-control-prev-icon{
  background-image: url("./images/arrowleft.png");
}
section.heroSlider span.carousel-control-next-icon{
  background-image: url('./images/arrowright.png');
} */
section.heroSlider span.carousel-control-prev-icon,
section.heroSlider span.carousel-control-next-icon {
  background: white;
  width: 27px;
  height: 27px;
  background: black;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
section.heroSlider .carousel-control-next,
section.heroSlider .carousel-control-prev {
  width: 6%;
}

.feature-cards .cardImg {
  padding:0 11px 11px;
  text-align: center;
}

.feature-cards .cardImg img {
  width: auto !important;
  height: 125px;
  object-fit: contain;
  border-radius: 50%;
  border:1px solid #eee;

}
.feature-cards .card {
  border: none;
}
.feature-cards .card-body {
  padding-top: 5px; padding-bottom: 0;
}
.feature-cards .card-body h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center !important;
}
.btitle {
  font-size: 24px;
  line-height: 1.2;
}

.boom-product-cat {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  /*min-height: 295px;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.bigsale {
  background: orange;
  color: white;
  border-radius: 40px;
  font-weight: bold;
  width:24px;
  height: 24px;
}

.btn.searchsubmitBtn:hover {
  background: #472362;
  color: white;
}
.skinBannerRow {
  /* background: #E4FEEA; */
  width: 100%;
  margin: 0 auto;
}

.skinareaTitle h2 {
  font-size: 32px;
  line-height: 48px;
}
.skinareatext p {
  font-size: 24px;
}
.discoverbtn {
  padding-bottom: 11px !important;
}

.categoryTabs #pills-tab li button {
  background: #ddc3f4;
  border-radius: 43px;
  color: #464646 !important;
  font-weight: bold;
  font-size: 16px;
  padding-inline: 37px;
  margin-inline: 6px;
}

.categoryTabs #pills-tab li button:hover,
.categoryTabs #pills-tab li button.active {
  background-color: var(--primary-color);
  color: white !important;
}
.products-card .card .cardImg {
  overflow: hidden;
  border-radius: 10px;
}
.products-card .card , .specialOfferP .card {
  border: none;
  text-align: left;
  border: 1px solid #eee;
  padding: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,.05);
  border-radius: 12px;
  margin-bottom: 8px;
}
.products-card .card .cardImg img {
  height: 240px;
  border-radius: 10px;
  object-fit: contain;
}
.product-cat-title span {
  font-size: 12px;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 2px;
}
.products-card .card .card-title,
.specialOfferP .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  height: 38px;
}
.products-card .card .card-body {
  padding-left: 0;
  padding-right: 0;
}

.quantity .plus,
.quantity .minus {
  color: var(--primary-color);
  font-size: 19px;
}

.addtocart {
  padding-block: 10px !important;
  background: #ddc3f4;
  font-size: 18px;
}

html[lang='ar'] .addtocart{font-size: 16px}
.addtocart:hover {
  color: white !important;
}

.specialOfferP .addtocart {
  padding-block: 4px !important;
}
.card-body .row {
  width: 100%;
}
.join-container .news-letter-container,
.footer-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-icons i.bi {
  font-size: 20px;
  margin-right: 6px;
}
.footer-container footer {
  background: #d1d1d1a3;
}
button#menuiconMob {
  display: none;
}
div#searchtoggle,
div#searchtogglecros {
  display: none;
}
span.Qnum {
  color: black;
}
/* media queries */
.slick-slide {
  margin:0 12px;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
  display: none !important;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  color: rgb(102 45 145 / 54%) !important;
}
.slick-prev,
.slick-next {
  font-size: 35px !important;
  color: var(--primary-color) !important;
  background: transparent;
  width: auto !important;
  height: auto !important;
  z-index: 9 !important;
}
section.widgets .card-body {
  padding-inline: 5px;
}

section.widgets .card {
  background: #ffeeee;
  border-radius: 10px;
  border: navajowhite;
  padding: 15px;
}
/*.widget-bar {

  padding: 25px 7px 25px 4px;
 
}*/

/* products page css */
ol.breadcrumb li.breadcrumb-item a {
  color: #a39f9f;
}
ol.breadcrumb li.breadcrumb-item.active {
  color: black;
}

.list-group.catList a {
  border: none;
  padding-left: 0;
  transition: 0.3s ease-in-out;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.list-group.catList a.active {
  padding-left: 10px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.list-group.catList a:hover {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding-left: 10px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
div#accordionSubmeniside .accordion-button:not(.collapsed) {
  background: #ddc3f4 !important;
  box-shadow: none !important;
}
.dropdown.sortp button {
  background: #efefef;
  border: none;
  color: black;
}
button.btn.btn-primary.d-lg-none.catsidebarmob {
  width: 100%;
  background: var(--primary-color);
  font-size: 26px;
  padding-block: 3px;
  margin-bottom: 15px;
}

/* product detail css */
.pd-wrap {
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}
.heading-section {
  text-align: center;
  margin-bottom: 20px;
}
.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #2e9ca1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.heading-section h2 {
  font-size: 32px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  min-width: 80px;
  background-size: 100%;
}
.carousel-testimonial .item {
  padding: 30px 10px;
}
.quote {
  position: absolute;
  top: -23px;
  color: #2e9da1;
  font-size: 27px;
}
.name {
  margin-bottom: 0;
  line-height: 14px;
  font-size: 17px;
  font-weight: 500;
}
.position {
  color: #adadad;
  font-size: 14px;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  outline: none;
  height: 25px;
  display: none;
}
.owl-nav button svg {
  width: 25px;
  height: 25px;
}
.owl-nav button.owl-prev {
  left: 25px;
}
.owl-nav button.owl-next {
  right: 25px;
}
.owl-nav button span {
  font-size: 45px;
}
.product-thumb .item img {
  height: 48px;
}
.product-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 4px;
}
.product-price-discount {
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}
.product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #a5a5a5;
}
.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.product-info {
  width: 100%;
}
.reviews-counter {
  font-size: 13px;
}
.reviews-counter span {
  vertical-align: -2px;
}
.rate {
  float: left;
  padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color: #ccc;
  margin-bottom: 0;
  line-height: 21px;
}
.rate:not(:checked) > label:before {
  content: "\2605";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.product-dtl p {
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
}
.product-dtl .form-control {
  font-size: 15px;
}
.product-dtl label {
  line-height: 16px;
  font-size: 15px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.product-count {
  margin-top: 15px;
}

.product-count .qtyminus {
  border-radius: 3px 0 0 3px;
}
.product-count .qtyplus {
  border-radius: 0 3px 3px 0;
}
.product-count .qty {
  text-align: center;
}
.round-black-btn {
  border-radius: 4px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529;
  transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.product-info-tabs {
  margin-top: 25px;
}
.product-info-tabs .nav-tabs {
  border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
  margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
  border: none;
  border-bottom: 2px solid transparent;
  color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
  border: none;
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
  border: none;
  border-bottom: 2px solid #d8d8d8;
  font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
  padding: 30px 20px;
  font-size: 15px;
  line-height: 24px;
  color: #7a7a7a;
}

.productzoomImg {
  overflow: hidden;
  cursor: zoom-in;
  height: 500px;
  margin-bottom: 10px;
  text-align: center;
}
.productzoomImg > img {
  max-height: 100%;
  /*object-fit: cover;*/
  max-width: 100%;
}

#thumb .item {
  margin: 3px;
}

form.quantity {
  width: 35%;
  gap: 7px;
}
input.qty.Qnum {
  font-size: 17px;
  height: auto !important;
  padding-top: 3px !important;
  padding-bottom: 4px !important;
}
.product-detail .addtocart {
  font-size: 15px;
  padding-block: 3px !important;
}
.product-detail .addtocart i.bi {
  font-size: 18px;
}
.product-detail .quantity .plus,
.product-detail .quantity .minus {
  color: var(--primary-color);
  font-size: 27px;
}
.product-detail.product-count {
 /* background: #eee;*/
  padding: 13px;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 8px;
  border:1px solid #dfdfdf;
}

.item.productzoomImg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.owl-nav button i.bi {
  font-size: 25px !important;
  color: var(--primary-color) !important;
  background: white;
  height: -moz-available;
  display: flex;
  box-shadow: 0px 0px 11px 2px #959595;
  border-radius: 8px;
}
.owl-nav button.disabled i.bi {
  color: #662d91d1 !important;
}
.product_meta p {
  font-size: 15px;
  font-weight: bold;
  color: var(--primary-color) !important;
}

.product_meta p > span,
.product_meta p a {
  text-decoration: none !important;
  color: #464343;
  font-weight: normal;
}
.productInfoTab #productTabs li a {
  border: none;
  font-size: 17px;
  font-weight: bold;
  color: var(--primary-color) !important;
}
.productInfoTab #productTabs li a.active {
  border: none;
  background: #ddc3f4;
}

/* review tab */
.reviwCont {
  border: 1px solid #ddd;
}
.table.addtable {
  border: 1px solid #d2d2d2;
}
/*.dropdown-menu.myaccountForm {
  min-width: 394px !important;
}*/
#ui-id-1 li {
  list-style-type: none;
  cursor: pointer;
  font-size: 16px;
}
#ui-id-1 {
  width: 200px !important;
  position: relative !important;
  background: #ddc3f4 !important;
  border: 1px solid #e0e0e0 !important;
  padding: 7px !important;
  border-radius: 7px;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
}
.myaccountForm.cartform {
  top: auto;
  top: 17px !important;
  width: 328px;
  right: 0px !important;
  transform: none !important;
  left:auto !important;
  inset: unset !important;
  right:0 !important
}


.iti.iti--allow-dropdown.iti--separate-dial-code {
  width: 100%;
}
.registerform {
  background: #ddc3f4;
  border-radius: 9px;
}
.registerform form label {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
.addressbar {
 /* border: 1px solid #dfdfdf;

  border-radius: 10px;*/
}
.addtitle {
  background: #ddc3f4;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.loggedin div {
  margin: 4px 0px;
  background: #ddc3f4;
  padding: 2px 5px;
  border-radius: 3px;
}
.loggedin {
  padding: 4px 6px !important;
}
/* media */

@media screen and (max-width: 768px) {
  .no-js .owl-carousel,
  .owl-carousel.owl-loaded,
  .owl-carousel {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .feature-cards .cardImg img {
    width: 100% !important;
    height: auto;
  }
  .feature-cards .card-body {
    padding-inline: 0;
  }
}
@media screen and (min-width: 601px) {
  .loginPage .registerform {
    max-width: 450px;
    margin-inline: auto;
  }
  .slick-prev {
    left: -35px !important;
  }
  .slick-next {
    right: -38px !important;
  }
  .modal-dialog-right {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
    justify-content: flex-end !important;
    margin-right: 16px !important;
  }
  .dropdown.logindropdown-k {
    position: initial !important;
  }
 
}

/* Css from older theme */

.tab-content > .active {
  opacity: 1;
}

.Qnum {
  background: #f7f7f7;
  padding: 2px 10px;
  border-radius: 32px;
  border: 1px solid #e3e3e3;
  height: 23px;
  padding-block: 0;
  max-width: 50px;
}

.text-dark {
  line-height: 32px;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.panel-body {
  padding: 15px;
}

.page-contents {
  padding: 40px 0 70px 0;
 /* background-color: #f8f8f8;*/
}

h4 {
  font-size: 16px;
  margin-bottom: 20px;
}

h5 {
  font-size: 16px;
}

.panel.panel-default.margin-top-lg.checkLeftCol-k {
  border: 1px solid #e5e5e5 !important;
  border-radius: 12px !important;
}
.checkoutbox-k .panel-default > .panel-heading {
  background-color: #ddc3f4 !important;
}

#user-profile-section ul.nav.nav-tabs li {
  background: #ddc3f4;
  margin-right: 10px;
  padding: 7px 11px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#user-profile-section ul.nav.nav-tabs li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
#user-profile-section ul.nav.nav-tabs li.active,
#user-profile-section ul.nav.nav-tabs li:hover {
  background: #662d91;
}
#user-profile-section ul.nav.nav-tabs li.active a,
#user-profile-section ul.nav.nav-tabs li:hover a {
  color: white;
}
#user-profile-section form.validate {
  padding: 20px;
}
form#user-profile .form-group {
  margin: 3px 0;
  padding: 5px;
}
form#user-profile .form-group label {
  margin-bottom: 5px;
}
form#user-change-password .form-group {
  margin: 3px 0;
  padding: 5px;
}
form#user-change-password .form-group label {
  margin-bottom: 5px;
}

.checkoutbox-k ul.nav.nav-tabs li {
  background: #ddc3f4;
  margin-right: 10px;
  padding: 7px 11px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.checkoutbox-k ul.nav.nav-tabs li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.checkoutbox-k ul.nav.nav-tabs li.active,
.checkoutbox-k ul.nav.nav-tabs li:hover {
  background: #662d91;
}
.checkoutbox-k ul.nav.nav-tabs li.active a,
.checkoutbox-k ul.nav.nav-tabs li:hover a {
  color: white;
}

.checkoutbox-k form.validate {
  padding: 10px;
}

.checkoutbox-k div#login .form-group,
form#guest-checkout .form-group,
form#address-form .form-group,
form#contact-us .form-group {
  margin: 10px 0;
}

.checkoutbox-k div#login .form-group a,
div#login .form-group label,
.register-k div#login .form-group a,
form#contact-us .form-group label {
  text-decoration: none !important;
  color: black;
  padding-bottom: 5px;
  font-size: 15px;
}

.checkoutbox-k div#user,
form#guest-checkout {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 8px #662d9191;
}
.checkoutbox-k div#login {
  border: 1px solid #ddc3f4;
  margin-left: 0px;
  padding: 0px 0px 11px 0px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px #cbcbcb;
}
.checkoutbox-k div#login button.btn.btn-block.btn-success,
.register-k div#login button.btn.btn-block.btn-success {
  width: 100%;
  background: #662d91;
  border: none;
}

.checkoutbox-k .registertab-k {
  padding: 10px 23px 0px 10px;
}

.registertab-k a.btn.btn-theme {
  background: #662d91;
  color: white;
  font-weight: 600;
}

.registertab-k a.guest-checkout {
  background: #ddc3f4;
  font-weight: 600;
}
a.pull-right.back-k {
  text-decoration: none !important;
  color: black !important;
}
.panel-body.total-k {
  border: 1px solid #e5e5e5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

input.btn.btn-lg.btn-primary {
  font-size: 17px;
  padding: 8px 20px;
  font-weight: 600;
  background: #662d91;
  border-color: #662d91;
}
form#guest-checkout {
  padding: 15px;
}
form#user-profile {
  padding: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
 /* box-shadow: 0px 2px 8px #662d9191; */
}
form#user-change-password {
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.registertab-k .btn:hover {
  background: #4f127c !important;
  color: white !important;
}
form.validate.addressform-k {
  padding: 20px;
}
.addressform-k .checkbox.addressbox-k {
  border: 1px solid #ddc3f4;
  padding: 17px 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px #ddc3f4;
}
.checkbox.bg.addressbox-k label {
  font-weight: 600;
}
a#add-address,
input.btn.btn-theme.payment-k {
  border: none;
  background: #662d91;
  padding: 10px 19px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
input.btn.btn-theme.payment-k {
  margin-top: 10px;
}

.cartpage .panel-heading {
  background: #ddc3f4;
}
.cartpage .panel,
.orderView-page-k .panel {
  border: 1px solid #ddc3f4;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #00000021;
}
.cartpage div#cart-helper {
  padding: 0px 10px 14px 10px;
  border: none;
  box-shadow: none;
}
.cart-empty-msg {
  padding: 17px 13px 0px 13px;
}
.continushoping {
  text-decoration: none;
  color: white;
  background: #662d91;
  border: none;
}
.continushopingtxt {
  text-decoration: none;
  color: black;
}
.proceed-k {
  background: #662d91;
  border: none;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
a.btn.btn-primary:hover {
  background: #47126e;
  color: white !important;
}

table#cart-table tr td,
table#cart-table thead tr th {
  text-align: center;
  border: 1px solid #efeaea;
}
table#cart-table tr td a {
  text-decoration: none;
  color: black;
}
table#cart-table tr td span.cart-item-image img {
  width: 100%;
  height: 82px;
}

.register-k #register form.validate,
.register-k div#login {
  border-radius: 5px;
  box-shadow: 0px 2px 8px #662d9191;
  padding: 15px 17px;
}

.register-k ul.nav.nav-tabs {
  border: none;
}

.register-k a#login {
  background: #ddc3f4;
  border: none;
  color: black;
  font-weight: 600;
}
.register-k div#register form.validate .form-group,
.register-k div#login .form-group {
  margin: 10px 0;
}
.register-k div#register form.validate .iti.iti--allow-dropdown {
  width: 100%;
}
.register-k input#register,
.register-k a#registerbtn {
  background: #662d91;
  border: none;
  font-weight: 600;
}
.register-k div#login {
  padding: 11px 8px 23px 8px;
}

.orderView-page-k .panel-heading.text-bold,
section#contact-us-section .panel-heading {
  background: #ddc3f4;
}
.row.billinfo-k1,
.row.billin-k2 {
  border: 1px solid #cfcfcf;
  padding: 9px;
  border-radius: 6px;
  margin-bottom: 15px;
}
ul#ui-id-1.ui-autocomplete {
  max-height: 340px;
  overflow-y: auto;
  width: 100% !important;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #662d91;
}
.myaccountForm.cartform table#cart-items-table {
  max-height: 170px !important;
  overflow-y: auto;
  display: block;
}
.table-responsive {
  max-height: 282px;
  overflow-y: auto;
}
button.btn.btn-primary.edit-address,
button.swal2-confirm.swal2-styled {
  background: #662d91 !important;
  border: none;
}
section#contact-us-section .panel {
  border-radius: 5px;
  overflow: hidden;
  border-color: #dfdfdf !important;
}
div#searchbarmob {
  position: relative;
}

ul#autocomplete-suggestions {
  position: absolute;
  z-index: 9;

  width: 85%;
  list-style-type: none;
  max-height: 340px;
  overflow-y: auto;
  margin-inline: auto;
  padding: 0;
  left: 23px;
  /* right: 0; */
}
ul#ui-id-1 {
  left: 0 !important;
}

img.footer-pay {
  width: 20% !important;
}
.contleft h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}
.contleft i.bi {
  color: #662d91;
  font-size: 22px;
}
.panel.panel-default.checkLeftCol-k.contleftbar {
  border-radius: 12px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: calc(100% - 27px);
}
h4.contleftsocial a {
  font-size: 23px;
  background: #ddc3f4;
  padding: 6px 9px 4px 9px;
  border-radius: 5px;
}
.contmap iframe {
  width: 100%;
}
.products-card .card-body .row {
  min-height: 35px;
}
.quantity {
  gap: 3px;
}
.special_products .specialOfferP .cardImg a img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.table.addtable {
  width: 100% !important;
}

.table.addtable tbody tr > td {
  font-size: 16px !important;
}
.table.addtable tbody tr > td:first-child {
  background: #f5f5f5 !important;
  width: 25% !important;
}
a#a_desc,
a#l_desc {
  margin-right: 30px !important;
  background: #ddc3f4 !important;
  padding: 0px 7px !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  color: black !important;
  text-decoration: none !important;
}
ol.list-group.list-group-numbered li div a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: 0.3s ease;
}
ol.list-group.list-group-numbered li:hover {
  background: #ddc3f4;
}
.suprtwidget .card {
  min-height: 170px;
  border-radius: 10px;
}
html[lang="ar"] {
  direction: rtl;
}
html[lang="ar"] .text-end {
  text-align: left !important;
}
html[lang="ar"] .feature_products,
html[lang="ar"] .special_products,
html[lang="ar"] .brands-logo,
html[lang="ar"] .suprtwidget,
html[lang="ar"] .feature-cards {
  direction: ltr;
}
html[lang="ar"] .myaccountForm.cartform {
  right: auto !important;
  left:0 !important
}
html[lang="ar"] input.Qnum {
  text-align: center !important;
}
html[lang="ar"] .suprtwidget .card h3,
html[lang="ar"] .suprtwidget .card .card-body h5,
html[lang="ar"] .suprtwidget .card .card-body p {
  text-align: center !important;
}

html[lang="ar"] .offcanvas.offcanvas-start {
  transform: translateX(100%);
  right: 0;
}
html[lang="ar"] .offcanvas.show:not(.hiding),
html[lang="ar"] .offcanvas.showing {
  transform: none;
}

html[lang="ar"] .product-cat-title {
  text-align: right;
}
html[lang="ar"] .rating {
  text-align: right;
}

html[lang="ar"] .products-card .card .card-body,
html[lang="ar"] .specialOfferP .card-body {
  direction: rtl !important;
}
html[lang="ar"] .products-card .card .card-body .discountPrice h4 {
  text-align: left !important;
}
html[lang="ar"] section.join-container h2,
html[lang="ar"] section.join-container p {
  text-align: center !important;
}
html[lang="ar"] div#slider {
  direction: ltr;
}
html[lang="ar"] .view_product_ar {
  padding-right: 0 !important;
}
html[lang="ar"] .myaccountForm label.form-label {
  display: block;
}

html[lang="ar"] .form-check {
  text-align: right;
  display: flex;
}
html[lang="ar"] label.form-check-label {
  margin-right: 30px;
}
html[lang="ar"] .dropdown-menu.loggedin {
  text-align: right;
}
html[lang="ar"] ul.nav.nav-tabs {
  padding-right: 0 !important;
}
html[lang="ar"] ul.nav.nav-tabs li {
  margin-right: 0 !important;
  margin-left: 10px !important;
}
html[lang="ar"] a.btn.primary-buttonAV {
  text-align: center !important;
}
html[lang="ar"] td.ar-colCart {
  text-align: right;
}
html[lang="ar"] .speacialOfferMove {
  direction: ltr;
}
.swal2-modal.swal2-show ul#iti-0__country-listbox {
  width: 100%;
  min-width: 450px;
}
.ar-addr {
  text-align: left;
}
/* html[lang="ar"] .ar-addr {
  text-align: right;
} */
/* html[lang="ar"] .ar-addr .iti__flag-container {
  right: 0 !important;
} */

html[lang="ar"] .ar-addr input#address-phone {
  text-align: left !important;
}
/* html[lang="ar"] .ar-addr .iti__country {
  text-align: right;
} */
html[lang="ar"] form#address-form input {
  direction: ltr !important;
}
html[lang="ar"] form#address-form {
  direction: ltr !important;
}
html[lang="ar"] h2#modalTitleId {
  text-align: center !important;
}
html[lang="ar"] .ar-catL {
  margin-left: auto !important;
  margin-right: 15px !important;
}
html[lang="ar"] ol.ar-ol {
  padding-right: 0;
}
ul.pagination li {
  background: #ddc3f4;
  margin-inline: 3px;
  padding: 1px 9px;
  border-radius: 3px;
  font-size: 18px;
}

ul.pagination li.page a,
ul.pagination li.next a,
ul.pagination li.last a,
ul.pagination li.prev a,
ul.pagination li.first a {
  color: black;
  text-decoration: none;
}
ul.pagination li.active,
ul.pagination li:hover {
  background: #662d91 !important;
  color: white !important;
}
ul.pagination li:hover a {
  color: white !important;
}
.cardImg img {
  margin: 0 auto;
}
html[lang="ar"] .featureTitle h2,
html[lang="ar"] .popularTitle h2 {
  text-align: center !important;
}
h4.or {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
}
h5.orcheckbox {
  font-weight: 600;
  font-size: 17px;
}
table.table.table-striped.cart-totals tbody tr:last-child {
  font-size: 17px;
  font-weight: 600;
}
h4.letstart {
  font-size: 20px;
}
.loginRCard {
  background: #f1f1f1;

  margin-inline: auto;
  text-align: center;
  padding: 30px;
  border-radius: 10px !important;
  margin-top: 25px;
 
  border: 20px solid #fff;
  height: fit-content;
  padding-top: 15px;
 
}

.logsignBtns {
  background: #662d91;
  width: fit-content;
  margin-inline: auto;
  border-radius: 30px;
  padding: 5px;
}
.logsignBtns button {
  background: transparent;
  padding-inline: 35px;
  border-radius: 43px;
}
.logsignBtns button.active {
  background-color: white;
  color: #662d91 !important;
}
.controls.logcardinput input {
  margin-top: 20px;
  border: 1px solid #662d918c;
  border-radius: 8px;
  padding: 9px 12px;
}
button.continueBtn{
  width: 100%;
  background: #662d91;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 19px;
  padding-block: 10px;
}
button.continueBtn:hover {
  background-color: #333;
}
.inputs input {
  width: 40px;
  height: 40px;
  border-color: #662d9178;
}
button.modalcloseBtn {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: #f9f9f9;
  color: #333;
  border-radius: 50%;
  font-size: 16px;
  width:36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #eee
}

.form-check-input:checked {
  background-color: #662d91 !important;
  border-color: #662d91 !important;
}
.cartQuantity {
  background: white;
  padding: 4px 13px !important;
  border-radius: 30px;
  border:1px solid #eee
}
.purpColor {
  color: #662d91;
}
.standard-div {
  gap: 15rem;
}
.offcanvas-backdropaddP {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.offcanvas-backdropaddP.fade {
  opacity: 0;
  z-index: -4;
}

.offcanvas-backdropaddP.show {
  opacity: 0;
  z-index: 1;
}

#addressList .checkout_address {height: 36px;}

/**********asma*********/
#searchbarmob {    margin-left: auto;
  flex: 0 0 50%;
}

@media screen and (max-width: 991px) {
  .mob-menu {
    width: 100%;
    order: 1;

  }
  .collapse:not(.show) {
    display: none !important;
}
 .navbar-collapse.show{display: block !important;}
  .mob-catS {order: 2;}
  .shop-icons {order:3}

  html[lang='ar'] .myaccountForm.cartform {
    left:0 !important;
    right: auto !important;
  }


  .standard-div {
    gap: 6rem;
  }
  /* .myaccountForm.cartform {
    left: -9px !important;
  } */
  #load_map {
    height: 400px !important;
    width: 100%;
  }
  /* .dropdown-menu.myaccountForm.cartform {
    right: 0 !important;
    left: auto !important;
  } */
  .addtable {
    width: 100% !important;
  }
  .slick-prev {
    left: 0px !important;
  }
  .slick-next {
    right: 0px !important;
  }
  .container-max-width {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .skinareaTitle h2 {
    font-size: 26px;
    line-height: 40px;
  }
  .skinareatext p {
    font-size: 20px;
  }
  .skinbnnerimg {
    padding: 0;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 20%;
  }
  .cardImg img {
    width: 100% !important;
    height: 260px;
    object-fit: contain;
  }
  .col-sm-12 {
  /*  margin-top: 5px;
    margin-bottom: 5px;*/
  }
  .quantity {
    justify-content: start !important;
    gap: 4px;
    margin-top: 5px;
  }
  .categoryTabs #pills-tab li button {
    margin-bottom: 10px;
  }
  .col-md-2.col-sm-2.mob-catS {
    order: 1;
  }
  .col-md-4.col-sm-2.shop-icons {
    width: 60%;
    order: 2;
  }
  .col-md-6.col-sm-2.mob-menu {
    order: 3;
    width: 100%;
  }
  .col-md-6.col-sm-2.mob-menu .menu-av {
    width: 100%;
  }
  .col-md-2.col-sm-2.mob-catS button i {
    font-size: 18px;
  }
  .col-md-6.col-sm-2.mob-menu .navbar-nav {
    background: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    margin-top: 3px;
  }
  .col-md-6.col-sm-2.mob-menu .container-fluid,
  .col-md-6.col-sm-2.mob-menu nav {
    margin-top: 3px;
    padding: 0;
  }
  .col-md-6.col-sm-2.mob-menu .navbar-nav .nav-item {
    margin-bottom: 3px;
    border-bottom: 1px solid #e3e3e3;
  }
  section.heroSlider .carousel-control-next,
  section.heroSlider .carousel-control-prev {
   /* width: 18%;
    display: contents;*/
  }
  .col-md-6.col-sm-2.mob-menu .menu-av li.nav-item {
    margin-right: 0px;
  }
  .col-md-2.col-sm-2.mob-catS {
    width: 40%;
  }
  .heroSlider .carousel-indicators {
   /* width: 21%;
    margin: 0;
    margin-left: 0px;
    position: absolute;
    bottom: 0px;
    right: 0;
    margin-left: auto;*/
  }
  .col-md-2.col-sm-2.mob-catS button {
    padding: 0px 5px;
    font-size: 12px;
  }

  #menuiconMob span.navbar-toggler-icon i {
    font-size: 29px;
    border: 1px solid #dddddd;
    padding: 2px 5px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 8px #b3b3b3; */
    background: var(--primary-color);
    color: white;
    height: 38px;
    line-height: 36px;
    display: inline-block;

  }
  button#menuiconMob {
    margin-left: 10px;
    display: inline-block;
  }
  #menuiconMob span.navbar-toggler-icon {
    width: 100%;
    height: 100%;
  }
  .logosearchMob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  div#searchtoggle,
  div#searchtogglecros {
    display: block;
  }
  div#searchbarmob {
    display: none;
    position: absolute;
    background: #000000b8;
    padding-block: 36px;
    top: 0;
    padding-top: 20px;
    z-index: 2;
    left: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  div#searchtogglecros {
    padding: 5px 10px;
    font-size: 26px;
    border-radius: 10px;
    color: white;
    width: fit-content;
    margin-left: auto;
  }
  section.heroSlider .container-max-width {
    padding-bottom: 0px !important;
  }
  div#searchtoggle {
    font-size: 30px;
    margin-right: 6px;
  }
  .main-menuTab .row {
    margin-top: 4px;
  }
  #mobnav {
    margin-top: 5px;
  }

  div#salediv {
    background: white;
    justify-content: center;
    padding-block: 8px;
    border-radius: 8px;
    font-size: 16px;
  }
  .topBartxt {
    font-size: 12px;
  }
  .topbarBtns {
    justify-content: center !important;
  }
  .moblang {
    padding-left: 0;
  }
  .mobficon {
    display: flex;
  }
  .search-bar {
    width: 100% !important;
  }
  .arowbtn {
    display: flex;
    align-items: center;
  }
  .boom-product-cat img {
    height: 200px;
    object-fit: contain;
  }
  .boomsale {
    padding: 0 15px 0px 0;
  }
  table#cart-table tr td span.cart-item-image img {
    width: auto;
  }
  section.footer-container {
    /*text-align: center;*/
  }
  .mobficon {
    justify-content: center;
  }
  .copyr {
    text-align: center;
  }
  span.btitle {
    display: block;
  }
  button#menuiconMob {
    order: 1;
  }
  div#searchtoggle {
    order: 3;
  }
  .logo-k {
    order: 2;
    flex: 1;
    text-align: center;
  }
  span#cart-items {
    order: 4;
  }
  .topBartxt {
    text-align: center;
  }
  .table-responsive {
    width: 100%;
  }
  .cartpage div#cart-helper {
    padding-top: 11px;
  }
  .cartpage .panel .panel-heading {
    padding-left: 5px;
    padding-right: 5px;
  }
  .panel-body {
    padding-inline: 7px;
  }
  .checkoutbox-k form.validate {
    padding: 14px;
    padding-left: 2px;
  }
  .registertab-k {
    padding: 10px !important;
  }
  form.validate.addressform-k {
    padding: 10px;
  }
  nav .menu-av li.nav-item a.nav-link {
    padding-inline: 15px;
    padding-block: 5px;
  }

  #navbarSupportedContent ul.navbar-nav {
    width: 100%;
    flex-direction: column;
  }
  button.btn.all-categoryBtn {
    width: 100%;
    justify-content: center !important;
    margin-bottom: 15px;
  }
  .container.container-max-width.main-menuTab {
    padding: 0;
    margin: 0;
    padding-inline: 7px;
  }
  .primary-buttonAV {
    padding-inline: 20px;
  }
  button.add-to-cart {
    text-align: center !important;
    font-size: 14px !important;
  }
  .products-card .card-body .row {
    min-height: 70px;
  }
  .products-card .card .cardImg img {
    height: 150px;
  }
  div#sourcedivmob {
    width: 100%;
  }
  nav .menu-av li.nav-item {
    margin-right: 0;
  }
  div#results.products-card {
   /* gap: 30px;*/
  }
  .productzoomImg {
    height: 100%;
  }
  .product-info {
    margin-top: 35px;
  }
  html[lang="ar"] .heroSlider .carousel-indicators {
    width: 100%;
    margin: 0;
    margin-left: 0px;
    position: absolute;
    bottom: 0px;
    left: 0;
    margin-left: 0;
    right: auto;
    justify-content: center;
  }
  .feature-cards h5.card-title {
    text-align: center !important;
  }
  html[lang="ar"] .popularTitle h2,
  html[lang="ar"] .featureTitle h2 {
    text-align: center !important;
  }
  html[lang="ar"] div#sourcedivmob {
    width: 100% !important;
  }
  html[lang="ar"] ul.navbar-nav {
    padding: 0 !important;
  }
  html[lang="ar"] nav .menu-av li.nav-item {
    margin: 0 !important;
  }
 /* html[lang="ar"] footer .row div h6*/
  html[lang="ar"] p.copyr,
  html[lang="ar"] h4.contleftsocial,
  html[lang="ar"] .specialOfferpopularTitle h2,
  html[lang="ar"] button.catsidebarmob {
    text-align: center !important;
  }
  h4.contleftsocial a {
  margin-right: 5px; margin-bottom: 5px;
  }

  html[lang="ar"]  h4.contleftsocial a {
    margin-left: 5px; margin-right: 0;
    }

  html[lang="ar"] .registertab-k a.btn.btn-theme {
    float: left;
    margin-bottom: 11px;
  }
  .removbtn {
    min-width: 28%;
  }
  .shoppingCardmob {
    margin-top: 25px !important;
    padding: 20px !important;
    justify-content: center !important;
  }
  .qtyRmv {
    justify-content: center !important;
    margin-block: 16px;
  }
}

/*asmaaaaaaaaaaaaaaaa 5-1-2023*/

div#myaccountForm {
  position: fixed !important;
  left: 0 !important;
  transform: none !important;
  right: 0 !important;
  margin-inline: auto !important;
  width: fit-content !important;
  top: 0 !important;
  box-shadow: 0px 0px 16px 1px #00000082;
  max-width: 100%;
  width: 100% !important;
  justify-content: center;
  background: rgba(0,0,0,.3);
  bottom: 0;
  align-items: center;
  height: 100vh;
}
.login-close {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 50%;
  justify-content: end;
  cursor: pointer;  
}
.login-close svg{width:15px; display: flex; }
.close{display: none !important;}
.shop-icons {margin-left: auto;}
.rating-cont {min-height: 35px;}
.widgets-wrapper .card-text {min-height: 50px;}
.section-marg-top {margin-top: 70px}
.title-wrapper { margin-bottom: 30px; display: flex; justify-content: center;}
.sideBannerImg img , .moveBanner img , .skinBannerRow img {border-radius: 12px !important;}
  /***asma 17-1 ****/
.brands-logo img{border:1px solid #eee; padding: 15px;  box-shadow: 0 2px 5px rgba(0,0,0,.05); border-radius: 10px; margin-bottom: 6px;}
.border-radius-10 , .footer-container .ft {border-radius: 10px; overflow: hidden;}
.margin-minus {margin: 0 -12px;}
.loginRCard  .logo-k {margin-bottom: 40px;}
#myaccountForm.show {display: flex !important; justify-content: center !important;}
/*.slick-dots {display: none !important;}*/
.m-l-10 {margin-left: -10px;}
.product-title {font-size: 18px;}
.product-price {font-size: 16px;}
.cart-cont-row { padding:0 25px 15px; border-bottom: 1px solid #eee; margin-bottom: 15px; width: 100%;}
.cart-cont-row .addicon  {flex:0 0 25%}
.cart-cont-row .addicon img {border: 1px solid #eee;
  border-radius: 8px;
  padding: 5px;}
.cart-cont-row .title-price-cont {flex: 0 0 80%;}
.cart-cont-row .addicon {padding-right: 15px; width:80px}
html[lang="ar"] .cart-cont-row .addicon {padding-left: 15px; padding-right: 0;}
.cart-content-wrapper {border-bottom: 1px solid #e1dfdf; }
.shoppingCardmob {border-radius: 12px;}

.shoppingCardmob .cart-content-wrapper:last-of-type {border-bottom: none;}
.cart-content-wrapper .cart-item-image img {border-radius: 15px;}
.remove-quatity-container {padding-top: 20px;}
.remove-quatity-container .remove-item{font-size: 16px;}
.remove-quatity-container .remove-item:hover {color:#47126e !important; }

.tab-pane {
  border: 1px solid #eee;
  border-radius: 0 0 12px 12px;
}

.tab-pane.rate-review  { padding: 20px;}
#otp-message { display: flex; justify-content: center; padding: 15px 0; }
.change-address-link {color:#662D91; width:150px; font-weight: bold; text-decoration: none; padding-top: 15px; }
.change-address-link:hover{color: #212529; text-decoration: underline;}
.change-address-link svg {padding-right: 10px; width: 26px}
.addressDetail {border-bottom: 1px solid #dfdfdf; padding: 15px 0;}
.addressDetail:last-of-type {border-bottom: none;}
.addressDetail .price {
  color: #464343;
}
.addressDetail .quantity {
  color: #464343; 
}
.addressDetail i{font-size: 24px;}
.order-table .btn{ background-color: #662d91; color: #fff; border-color: #662d91;}
.order-table td {padding:  15px 20px;}
.order-table tr {border-bottom: 1px solid #dfdfdf;}
.order-table tr:last-of-type {border-bottom: none;}

.table-custom-container {border:1px solid #dfdfdf; border-radius: 12px; overflow: hidden;}
.cartpage h2 {font-size: 26px; margin-bottom: 20px;}
.order-summary-cont {border-radius: 12px;}
.card-body {border-color: #dfdfdf !important;}
#addressList .card-body{padding: 20px;}
.all-categoryBtn {font-weight: bold; display: flex; align-items: center;}
.categ h5{background: #eee;
  padding: 10px 20px;
  border-radius: 8px;
}

.list-group.catList {position: relative;}
.list-group.catList a:before{
  content: '';
  width:5px;
  height: 5px;
  background-color: #464343;
  display: inline-block; 
  margin: 0 5px;
  border-radius: 50%;
}

.list-group.catList a:hover:before , .list-group.catList a.active::before{  background-color: #fff;}

.categoryTabs .tab-pane{ border:none }
.categoryTabs ul {padding: 0 !important;}


html[lang='ar'] #coupon_form button {text-align: center !important; border-radius: 8px 0 0 8px  !important}
 #coupon_form button {text-align: center !important; border-radius: 0px 8px 8px 0px  !important}
.order-summary-cont a.btn-danger {padding: 0 !important;}
.order-summary-cont .primary-buttonAV  {border-radius:8px !important; } 
.order-summary-cont .primary-buttonAV:hover {background-color: #333; border-color: #333;}

.top-bar i.bi.bi-chevron-down {
  font-size: 13px;
}

.top-bar .dropdown-menu {min-width: 220px}
.top-bar .dropdown-menu i{padding-right: 10px;}
html[lang='ar']  .top-bar .dropdown-menu i{padding-left: 10px; padding-right: 0;}
.productInfoTab .tab-pane{padding: 20px;}
.product-detail.product-count {width: 100%}
.specialOfferP .product-cat-title{min-height: 25px}

.categoryTabs .nav-pills {margin-bottom: 20px;}
.review h3{font-size: 22px;}
.checkLeftCol-k .panel-body, .contleft {padding: 20px !important;}
h3.fw-semibold , h3.fw-bold  {
  font-size: 24px !important; text-transform: capitalize;
}

.boom-categories .primary-buttonAV:hover , .skinBannerRow .primary-buttonAV:hover { background-color: transparent; border-color: #47126e; color: #47126e !important;}
.validate.addressform-k .primary-buttonAV {text-align: center !important; line-height: 40px;}
.validate.addressform-k .primary-buttonAV:hover , .order-table .btn:hover , .edit-address:hover, .checkLeftCol-k input[type='submit']:hover {background-color: #333 !important; border-color: #333 !important;}
.addtocart:hover {background-color: #4f127c;}

/***asma 17-1 ****/
.address-container i{color: #47126e !important; font-size: 20px; padding-left: 10px;}
html[lang='ar'] .address-container i{ padding-left: 0px; padding-right: 10px;}
.address-container i:hover{color: #333 !important;}
.address-but {font-size: 16px; margin-right: 10px;}
html[lang='ar']  .address-but {margin-left: 10px; margin-right: 0;}
#checkoutAddress {padding: 10px 0;}
.default-address {border: 1px solid #662d91 !important; border-top: 3px solid #662d91 !important;}
.addressDetail .addicon {
  width: 160px;
}
.contact-info {list-style-type: none; padding-left: 0px;}
html[lang="ar"]  .contact-info  { padding-left: 0px; padding-right: 0px !important;}

.brands-logo .slick-prev , .brands-logo .slick-next {display: none !important;}
  /**********asma 24-1 **********/
  img.cart-img {
    width: 150px;
    height: 150px;
    object-fit: contain !important;
    background: #fff;
    padding: 10px;
  }
  
  .productzoomImg {display: flex; justify-content: center; align-items: center;}
.productzoomImg.item img {width: 100%;   height: 500px; object-fit: contain;  }
#thumb .item {margin: 0 10px 0 0 !important; display: flex; justify-content: center; align-items: center; }
html[lang="ar"] #thumb .item {margin: 0 0px 0 10px !important;}
#thumb .owl-stage .owl-item:last-of-type .item{margin: 0 0 0 0 !important;}
#thumb .owl-item {width:75px !important; height: 75px !important; }
#thumb .item img {width: 70px; padding: 5px;  height: 70px; object-fit: contain; margin: 0 !important;}
#thumb .owl-item .item{border:1px solid #dfdfdf ;  border-radius: 10px;}
.categoryTabs .products-card {direction: ltr !important;}

/*************/
/************** ar ************/
html[lang='ar'] body{ font-family: 'DroidArabicKufiRegular','lato'; direction: rtl !important; }


html[lang='ar'] #cart-items a {font-size: 14px;}

html[lang='ar'] #cart-items-table {direction: rtl;}
html[lang='ar'] .change-address-link svg {padding-left: 10px; padding-right: 0; }


html[lang='ar']  .bi-chevron-right::before {
  content: "\f284";
}

html[lang='ar'] .pe-3 {
  padding-left: 1rem!important; padding-right: 0 !important;
}

html[lang='ar']  .fs-5 {
  font-size: 1rem!important;
}

html[lang="ar"] button.add-to-cart {
  text-align: center !important;
}

html[lang="ar"]  .addressDetail .bi {
  padding-left: 0.5rem!important; padding-right: 0 !important;
}
.bi-check-circle-fill{margin-right: 10px;}

html[lang='ar'] .product-detail.product-count .add-to-cart {margin-left: 0 !important; margin-right: 10px !important;}
footer ul{
  transition: all .5s; height: 100%; 
}

/****************responsive**************/

@media screen and (min-width: 1440px) {
  .loginRCard {
    width: 25% !important; }

  
  }

  @media screen and (min-device-width: 991px) and (max-device-width: 1440px) { 
    /* STYLES HERE */


  .loginRCard {
    width: 35% !important;
  
  }
  
  }

  @media screen and (max-width: 1024px) {
    /**********asma 24-1 **********/
    .owl-stage .item img {width: 70px;   height: 70px; }
    .productzoomImg.item img {width: 300px;   height: 300px; }
    /**********asma 19-1 **********/

    .boom-categories .btitle {
      font-size: 18px; }

      /*********************/
    .categoryTabs ul  li{margin-bottom: 10px !important;}

    .widgets-wrapper .card-text {min-height: 65px;}
    .skinareaTitle h2 {
  
      line-height: 40px;
  }

  .skinareatext p {
    font-size: 18px;
}

html[lang='ar'] .addtocart{font-size: 13px !important;}
html[lang='ar'] .specialOfferP input.Qnum {max-width: 40px;}
html[lang='ar'] .specialOfferP .quantity {padding-right: 5px;}

  }

  @media screen and (min-device-width: 480px) and (max-device-width: 991px) { 

.loginRCard .logo-k {margin-bottom: 20px;}
.navbar-brand img{ height: 25px; }
h4.letstart {font-size: 16px;}
.loginRCard {padding: 10px; margin-top: 0;}

.boom-categories.mt-4 , .side-banner.mt-4 {margin-top: 20px !important}
.boom-product-cat-mob-marg { margin-top: 20px !important; }


 

  }

  @media screen and (min-device-width: 480px) and (max-device-width: 740px) { 
  .products-pay img {width:25% !important}
  .mobile-marg-b {margin-bottom: 20px;}
  .mobile-h-marg-b-0 {margin-bottom: 0 !important;}

  }

  
  @media screen and (min-device-width: 480px) and (max-device-width: 990px) { 

    .mobile-h-marg-t{margin-top: 20px;}
   
  
    }
  
@media screen and (max-width: 991px) {
  /**********asma 24-1 **********/
  .cart-img {width:150px}

  .owl-stage .item img {width: 60px;   height: 60px; }
  .productzoomImg.item img {width: 380px;   height: 380px; }
  #thumb .owl-item {width:60px !important; height: 60px !important; }
#thumb .item img {width: 55px; padding: 5px;  height: 55px; object-fit: contain; margin: 0 !important;}

  /**********asma 19-1 **********/
  .main-menuTab {
    padding: 0;
  }
  .navbar {padding: 0}
  .navbar-collapse.collapse.show {padding: 20px;}
  .navbar-collapse.show  .navbar-nav {margin-bottom: 15px !important;}
  button.btn.all-categoryBtn {margin-bottom: 0;}
  .logo-searchBar .py-3{padding: 10px 0 !important;}
  .logo-searchBar .mb-2 {margin-bottom: 0 !important;}
  .skin-container {display:none}
  .addressDetail .addicon {width:130px}
  .logo-searchBar {padding-top: 10px;}
  .slick-prev, .slick-next {display: none !important;}

/***********************/
  .categoryTabs .nav-pills {
    margin-bottom: 0px;
  }
  .feature-cards .card-body {
    padding: 5px 0 0px;}
  
    .title-wrapper {margin-bottom: 20px;}
    .skinBannerRow .discoverbtn {margin-bottom: 0 !important;}
    .categoryTabs .mb-4 {margin-bottom: 0 !important;}
    .section-marg-top {
      margin-top: 50px;
  }
  
    /*********/
  .cartIcon .dropdown-toggle {padding-top: 0 !important;}
  nav .menu-av li.nav-item a.nav-link:before {display: none;}

  /*.main-menuTab { padding: 10px 20px}*/
  /*.navbar-nav {border-bottom: 1px solid #eee;}*/
  .navbar .nav-link  {padding: 10px 0 !important;}
  #offcanvasProductsLabel  {font-size: 20px; font-weight: bold; width: 100%; border-bottom: 1px solid #eee; padding-bottom: 10px;}
  /*.main-menuTab { padding: 5px 15px;}*/
 
  section{ max-width:100% !important;}
.loginRCard {width: 93% !important;}
.flex-ipad-column {flex-direction: column; align-items: start !important;}
/*.cart-content-wrapper .cart-item-image img , .cart-content-wrapper h5 , .cart-content-wrapper .remove-item {
  margin-bottom: 15px !important;
}*/
.shoppingCardmob {margin-bottom: 20px;}
.product-detail.product-count {
  padding: 13px 25px;
  justify-content: space-between; gap: 10px;

}
.productzoomImg img {height: 400px;}
h2{font-size: 26px !important;}
.panel.panel-default.checkLeftCol-k.contleftbar {

  min-height: auto
}
}

@media screen and (max-width: 786px) {
  .footer-container ul { padding-left: 30px;}
.contact-info {list-style-type: none; padding-left: 15px !important;}
html [lang='ar']  .contact-info  { padding-left: 0px !important; padding-right: 15px !important;}
 html [lang='ar'] .footer-container ul { padding-left: 0px; padding-right: 30px;}
  .boom-categories.mt-4 , .side-banner.mt-4 {margin-top: 20px !important}

  .boom-product-cat-mob-marg {
    margin-top: 20px !important;
  } 
  .skinbnnerimg {margin-bottom: 20px;}
  .mt-10{ margin-top: 20px;}

  .cart-content-wrapper .price-label { padding-top: 10px;}
  .quantity input{width: 34px !important; padding: 0 5px;}
  .price h4 {font-size: 14px;}
  .cart-content-wrapper .cart-item-image img {margin-bottom: 15px;}
  
  .cartQuantity {margin-top: 5px;}
}

@media screen and (max-width: 480px) {
  /***************24-1*****************/
  .rating i, .discountPrice h4{font-size: 13px;}
  .product-cards-wrapper.row {margin: 0 -6px !important;}
  .product-cards-cont.col-6 {padding: 0 6px !important;}
  .cart-img {width:80px !important; height: 80px !important;}
  .remove-quatity-container {padding-top: 0px;}
  .cart-content-wrapper h5{    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 40px;
    overflow: hidden;
  }
  .cartQuantity {
    margin-top: 0px;
  }
  .cart-content-wrapper .price-label {padding-top: 5px;}
.owl-stage .item img {width: 60px;   height: 60px; }
.productzoomImg.item img {width: 100%;   height: 330px; }

  /***************22-1*****************/
  img.footer-pay {
    width: 35% !important;
}
  /***************22-1*****************/
  .hide {height: 0; opacity: 0; display: none;}
  .footer-header-collapse {background-repeat: no-repeat !important; background-position: center right 10px !important;}
 html[lang='ar'] .footer-header-collapse { background-position: center left 10px !important; }
  .arrow-up {background-image: url('../images/arrow-up.svg') !important; }
  .arrow-down {background-image: url('../images/arrow-down.svg') !important; }
  .products-card .card .card-title, .specialOfferP .card-title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 40px;
  }

  .primary-buttonAV {    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}
.featureProductC .products-card.mt-4 {margin-top: 0 !important;}
.products-card .card, .specialOfferP .card {padding: 15px;}
.special_products-cont .card-body {padding: 0;}
.featureProductC  .discountPrice , .categoryTabs .discountPrice {min-height: 34px;}
.boom-product-cat-cont .btitle  {padding-bottom: 10px;}

.contact-info {padding: 0 15px;}
  /**********asma 19-1 **********/
  .order-summary-title{
    margin-top: 30px;
  }
  .footer-container h5 {
    font-weight: bolder;
    font-size: 16px;
    background: rgba(0,0,0,.05);
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 0px; margin-top: 10px;}
    .footer-container .first-h5 {margin-top: 0;}
    .footer-container ul {padding-top: 20px !important;}
    .footer-end {flex-direction: column !important; align-items: center !important;}
.slick-slide {margin: 0 5px;}
.boom-product-cat img {height: 100px}
.btitle {font-size: 15px !important; line-height: 25px;}   
.boom-product-cat .primary-buttonAV.mt-3 {margin-top:0px !important;} 
.mobile-boom-categories  .boom-product-cat.py-4.px-4{ padding: 15px !important; }
.m-l-10 {margin-left: 0 !important;}
.cat-col-6-padding  {margin: 0 -6px;}
.cat-col-6-padding .col-6{padding: 0 6px;}
.product-m-order1 {order:1}
.product-m-order2 {order:2}
.flex-sm-column{flex-direction: column; align-items: start !important;}
.vitamin-but {margin-top: 16px !important;}


.slick-dots li{ padding-top: 15px;}
.slick-dots li button:before {font-size: 16px !important;}
.slick-dots li.slick-active button:before {opacity: .75;color: #662d91 !important;}
.slick-dots {position: absolute; bottom: -30px;}
.brands-logo-cont.section-marg-top {margin-top: 60px;}

.feature-cards .cardImg {padding: 8px 11px 11px !important;}

/**********************/

  /***asma 17-1 ****/
  .controls.logcardinput input {
    padding: 8px;
  }
  .otpcontainer .modal-body{
    padding: 0px;
  }
  .feature-cards .cardImg img { height: 75px; }
    .feature-cards .card-body h5 {
      font-size: 14px;}
      .feature-cards .slick-track {margin-left: -6px;}
      .address-but {margin-bottom: 10px !important; }
 

/****************/
  .boom-categories.mt-4 , .side-banner.mt-4 , .boom-product-cat-mob-marg, .mt-10{margin-top: 10px !important}
  .mt-m-0 {margin-top: 0 !important}

.navbar-brand img{ height: 25px}


.section-marg-top {
  margin-top: 40px;
}
.mobile-marg-b {margin-bottom: 10px}
.mobile-wrap {flex-wrap: wrap;
  flex-direction: column; }
  .widgets-wrapper .card-text {min-height: 50px;}


.mobile-start {align-items: flex-start !important;}
.change-address-link-cont {order: 1;}
.addressDetail  { order:2 }
.form-check-label {font-size: 16px;}
.payment-method {width: 70% !important; margin-top: 15px;}
form.validate.addressform-k {
  padding: 10px 0;}
  .products-pay img {width:70% !important}
  .news-letter-container {padding-left: 20px !important; padding-right: 20px !important;}
  .news-letter-container h2 {font-size: 24px;}
  h2{font-size: 26px !important; line-height: 39px;}
   .flex-mobile-column {flex-direction: column; align-items: start !important;}

   .categoryTabs  li {flex: 0 0 50%; }
   .categoryTabs  li .nav-link  {width: 90%; font-size: 14px !important; padding: 10px !important; text-align: center !important;}
 .navbar .nav-link {font-size: 16px;}
 .addcartcanvas {width: 100% !important;}
 .productzoomImg img {height: 200px;}
 .product-detail.product-count {width: 100% !important;}
}


/**********ar***********/

html[lang="ar"] .shop-icons {margin-right: auto; margin-left: 0 !important;}
