*,
html {
    padding: 0;
    margin: 0;
    font-family: DejaVu Sans !important;
}
body {
    font-family: DejaVu Sans !important;
    padding: 50px 15px;
    margin: 0;
    height: 100%;
    background: #fff !important;
    line-height: 1.15 !important;
}

body:before,
body:after {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DejaVu Sans !important;
    margin: 10px 0 !important;
}
h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
h3 {
    font-size: 15px;
    line-height: 15px;
}
h4 {
    font-size: 14px;
    line-height: 14px;
}
h5 {
    font-size: 13px;
    line-height: 13px;
}
h6 {
    font-size: 12px;
    line-height: 12px;
}

header,
footer {
    text-align: center;
    padding: 5px 25px !important;
    background-color: #f9f9ff;
    height: 20px;
    color: #000;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
}
header {
    top: 10px;
}
footer {
    bottom: 10px;
}

.title {
    text-transform: uppercase !important;
}

.table th {
    background-color: #eee !important;
    text-align: center;
    padding: 5px;
    color: #000 !important;
    border-color: #ddd !important;
}

.table td {
    padding: 4px;
}

.order_barcodes {
    /* uncomment line below to hide the barcodes */
    /* display: none; */
    margin-top: 10px;
}

.barcode .bcimg,
.barcode .qrimg {
    margin-top: 10px;
    margin-right: 10px;
}
.bcimg {
    display: none;
}
.qrimg,
.qr-svg {
    min-width: 100px !important;
    max-width: 200px !important;
    min-height: 100px !important;
    max-height: 200px !important;
}

.page {
    page-break-after: always;
}

@page {
    margin: 100px 25px;
}
.pagenum:before {
    content: counter(page);
}
.text-center{
    text-align: center;
}



.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table thead {
    background-color: #007bff;
    color: #fff;
}

tbody {
    border: 1px solid black;
}

td {
    font-size: 12px;
    border: 1px solid;
    padding: 5px !important;
}

th {
    font-size: 12px;
    border: 1px solid;
    font-weight:normal; 
    padding: 5px !important;

}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    margin: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    font-size: 12px;
}

.col-half {
    width: 40%;
    padding: 3px;
    float: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

/* .well { border: 1px solid #ddd; padding: 10px; border-radius: 5px; background-color: #f7f7f7; } */
.well {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    box-shadow: none;
    border-radius: 0px;
    font-size: 12px;
    height: auto;
}

.clearfix {
    clear: both;
}

.tbl_vat_purchase th,
.tbl_vat_purchase td {
 font-size: 10px;

}
.tbl_vat_purchase th, 
.tbl_vat_purchase td {
    padding: 3px;
}

