<h3>{logo}</h3><p>
Dear {contact_person} {company}</p><p>
We are glad you have chosen Avenzur!<br /><br />
Your order No.{reference_number}  has been received and is currently being processed by our team. 
We'll let you know when your order is on its way to you so you can really get excited about it.<br /><br />
Please find the attachment for your order ({reference_number})
details. Please visit {order_link} for order details and {site_link} to manage your orders.</p><p>
Best regards,
<br>
{site_name} Team</p>