<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /avenzur/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

# Deny directory listing
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>
